
    <footer class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="container">
            <p class= "copyright">&copy Copyright 2023 Micropost. All rights reserved.Devloped by Mr.Hardik</p>
        </div>
    </footer>

